<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Roles</h4>
                      <p class="card-category"> Role list</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Description
                                  </th>
                                  <th>
                                      Action
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let role of managers">
                                      <td>
                                          {{role.rol_id}}
                                      </td>
                                      <td>
                                          {{role.rol_name}}
                                      </td>
                                      <td>
                                          {{role.rol_description}}
                                      </td>
                                      <td>
                                        <span class="material-icons">
                                            visibility
                                            </span>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
