<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Detail Category</h4>
                <p class="card-category">Information category {{data.cat_name}}</p>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-5">
                            <mat-label>Category Name</mat-label>
                            <mat-form-field class="example-full-width">
                                <input matInput disabled value="{{data?.cat_name}}">
                            </mat-form-field>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-12">
                            <mat-label>Description</mat-label>
                            <mat-form-field class="example-full-width">
                                <textarea matInput disabled>{{data.cat_description}}</textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button (click)="closeDialog()" class="btn btn-danger pull-right">Close</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>